<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/6.3/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         bootstrap="Tests/bootstrap.php">
    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_CLASS" value="AtlassianConnectBundle\Test\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999"/>
    </php>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
