<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title></title>

    <script src="{{ app.user.baseUrl|default('') }}/atlassian-connect/all.js" type="text/javascript"></script>

    <link rel="stylesheet" href="//unpkg.com/@atlaskit/css-reset@latest" />
    <link rel="stylesheet" href="//unpkg.com/@atlaskit/reduced-ui-pack@latest" />
</head>
<body>
    <ak-grid>
        <ak-grid-column>
            <h2>Not Licensed</h2>
            <p>
                You need to start the Trial to be able to use the Add-On
            </p>
        </ak-grid-column>
    </ak-grid>
</body>
</html>
